<!DOCTYPE html>
<html ng-app="freshKicks">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/freshKicksApp.js"></script>
	<script type="text/javascript" src="javascripts/standingsCntrl.js"></script>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
</head>