<nav class="nav navbar-default" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li>
				<a href="./"><span class="glyphicon glyphicon-print">Vote!</span></a>
			</li>
			<li>
				<a href="./"><span class="glyphicon glyphicon-alt">Standings</span></a>
			</li>
		</ul>
	</div>
</nav>