<% include head %>

<body>
<header>
	<% include header %>
</header>


<div id="" class="car-image circle-bg">
	<div class="image-container">
		<img src="<%= shoe.image %>">
		<h2><%= shoe.name %></h2>
		<form>
			<button class="btn btn-primary">Like</button>
		</form>
		<form>
			<button class="btn btn-primary">Like</button>
		</form>
	</div>
</div>

</body>
<% include footer %>



