<% include head %>

<body>
<header>
	<% include header %>
</header>


<div id="" class="car-image circle-bg">
	<div class="image-container">
	<%
		var randNum = Math.floor(Math.random() * shoes.length);
	%>
		<img src="<%= shoes[randNum].image %>">
		<h2><%= shoes[randNum].name %></h2>
		<button class="btn btn-primary">Like</button>
	</div>
</div>

</body>
<% include footer %>



