<% include head %>

<body>
<header>
	<% include header %>
</header>


<div id="" class="car-image circle-bg">
	<div class="image-container">
		<h1>Thanks!! You have voted on all the images!</h1>
	</div>
</div>

</body>
<% include footer %>



