body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
}

#standings {
	width: 65%;
	padding: 35px 15px;
	display: inline-block;
}

#standings img {
	display: inline-block;
	margin-right: 50px;
}

#standings * {
	display: inline-block;
}

.car-image {
	position: relative;
	width: 50%;
	text-align: center;
	margin: auto;
}

.image-container {
	position: relative;
	width: 350px;
	margin: auto;
	padding: 50px;
}

.image-container img {
	max-width: 100%;
	border-radius: 15px;
	margin: auto;
	margin-bottom: 25px;
	text-align: center;
}

.circle-bg {
   height: auto;
   background: #ddd; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}

.vote-button {
	display: inline-block;
	padding: 0 15px;
}
.vote-button input {
	display: inline-block;
}

#user-votes {
	padding: 75px;	
	width: 25%;
	float: right;
}

.voted-shoes {
	display: block;
	margin-bottom: 40px;
	float: left;
}

.voted-shoes .voted-shoes-img {
	display: inline-block;
	margin-right: 50px;
	width: 150px;
}

.voted-shoes h4 {
	display: inline-block;
}

#user-votes h3 {
	color: #2234df;
}

#footer {
	position: relative;
	bottom: 40px;
}

#add-shoe-btn {
	margin: auto;
}

.voted-shoes img {
	display: inline-block;
	width: 100%;
}