body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.car-image {
	position: relative;
	width: 50%;
	text-align: center;
	margin: auto;
}

.image-container {
	position: relative;
	width: 350px;
	margin: auto;
	padding: 50px;
}

.image-container img {
	max-width: 100%;
	border-radius: 15px;
	margin: auto;
	margin-bottom: 25px;
	text-align: center;
}

.circle-bg {
   height: auto;
   background: #ddd; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}

.vote-button {
	display: inline-block;
	padding: 0 15px;
}
.vote-button input {
	display: inline-block;
}

#standings {
	padding: 75px;
}

.voted-shoes {
	display: block;
	margin-bottom: 40px;
}

.voted-shoes h4 {
	display: inline-block;
}

.voted-shoes img {
	display: inline-block;
	margin-right: 50px;
}